@import "tailwindcss";

@theme {
--color-main-orange:#ffa500;
--container-width:1350px;
}

@layer components {
  .container {
    max-width: --container-width; 
     margin: 0 auto;
    padding: 0 1rem; 
  }


}